<div class="board-container">
  @for (tile of this.tiles; track tile.index) {
    <div [ngClass]="calculateTileStyleClasses(tile)" (click)="onTileClicked(tile)">
      @let pieceColor = tile.occupiedByString === tile.occupiedByString.toUpperCase() ? 'w' : 'b';
      @if (tile.index === promotionTile?.index) {
        <span class="promotion-selection">
          @for (piece of promotionPieces; track piece) {
            <div class="promotion-option">
              <p-image
                [src]="getPieceImageUrl(piece, pieceColor)"
                alt="{{ piece }}"
                (click)="onPromotedPieceSelection(piece, pieceColor)" />
            </div>
          }
        </span>
      }
      @if (tile.occupiedByString) {
        <p-image
          [src]="getPieceImageUrl(tile.occupiedByString, pieceColor)"
          alt="{{ tile.occupiedByString }}" />
      }
    </div>
  }
</div>

<p-dialog
  header="Checkmate"
  class="winner-dialog"
  [modal]="true"
  [(visible)]="isWinnerDialogVisible">
  <span class="winner-text">{{ winnerFlagToString() }} is the winner!</span>
  <div class="button-container">
    <p-button label="Continue" severity="primary" (onClick)="isWinnerDialogVisible = false" />
  </div>
</p-dialog>
