.chess-board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.column-names {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 0;
  width: 36rem;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
}

.row-names {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  gap: 0;
  height: 36rem;
  font-weight: bold;
  font-size: 1rem;
  align-items: center;
  justify-items: center;
}

.board-with-rows {
  display: flex;
  align-items: center;
}

.board-container {
  display: grid;
  grid-template-columns: repeat(8, 5fr);
  grid-template-rows: repeat(8, 5fr);
  gap: 0;
  width: 36rem;
  height: 36rem;
  border: 2px solid black;
}

.top-column-names {
  margin-bottom: 5px;
}

.bottom-column-names {
  margin-top: 5px;
}

.left-row-names {
  margin-right: 10px;
}

.right-row-names {
  margin-left: 5px;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
  height: 100%;
  aspect-ratio: 1/1;
  position: relative;
}

.dark-tile {
  background-color: var(--dark-square-color);
}

.light-tile {
  background-color: var(--light-square-color);
}

.previous-dark-tile {
  background-color: var(--previous-dark-square-color);
}

.previous-light-tile {
  background-color: var(--previous-light-square-color);
}

.normal-move::before,
.attack-move::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.normal-move::before {
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--legal-move-color);
}

.attack-move::before {
  width: 3rem;
  height: 3rem;
  border: 0.3rem solid var(--legal-move-color);
  background-color: transparent;
}

.promotion-selection {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: max-content;
  z-index: 10;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.promotion-option {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  width: 100%;
}

.winner-dialog {
  width: 30rem;
}

.winner-text {
  display: block;
  color: var(--text-color);
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.5rem;
}

.button-container {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.p-button {
  min-width: 100px;
  border-radius: 5px;
  font-weight: bold;
}
